<%# <h1>Stupid coaching</h1> %>

<div class="container">
 <hr class="my-5">
  <div class="jumbotron">
    <h2 class="display-4">Stupid coaching</h2>

<%= @answer %>

<%# <a href="ANCHOR_URL">ask</a> %>
<%# <div class="btn btn-primary btn-lg"> %>
<%= link_to "Ask again !", ask_path %>
</div>

  </div>
</div>
