<%# <h1>Stupid coaching</h1>
 <form action="/answer" data-turbo="false">
  <input type="text" name="question" value="<%= params[:question] %>
  <%# <input type="submit" class="btn btn-secondary btn-lg"></button value="Ask!">
</form> %>


<div class="container">
 <hr class="my-5">

  <div class="jumbotron">
    <h2 class="display-4">Stupid coaching</h2>
  <form action="/answer" data-turbo="false">
  <input type="text" name="question" value="<%= params[:question] %>">
    <hr class="my-4">
   <input type="submit" class="btn btn-primary btn-lg"></button value="Ask!">
</form>

  </div>
</div>
